body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 60px;

}
.topbanner{
    /*height: 1000px;*/
    /*border: 5px solid black;*/
}
.about{
   /* border: 5px solid black;*/
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
}
.reciepies{
  /*  border: 5px solid black;*/
}
.orange{
    color: orange;

}
.flex{
    display: flex;


}
.half{
    width: 50%;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    /*border: 5px solid red;*/

}
.third{
    width: 30%;
}

.half img{
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
}
.third img{
    width: 80%;
}
.btn{
    color: white;
    text-decoration: none;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    padding: 20px 30px;
    border-radius: 100px;

}

.reciepies{
    text-align: center;

}
.followers{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;

}

.footer{
    text-align: center;
    background-color: #0B0D17;
}
.footer p{
    color: white;
}
#fotext{
    color: #5B5B5B;
}
footer p{
    padding-bottom: 50px;
}
.h1tag{
    margin-bottom: 0;
}
